.component-Login ,.component-register{
    .wrapper{
        width: 477px;
        margin: 95px 390px;
        padding: 10px;
        box-shadow: 2px 7px 14px darkgrey;
    }
    h3{
        margin: 0px 180px 10px;
        font-size: 20px;
        font-weight: bold;
    }
    .label{
        margin: 0px 100px 10px;
        font-size: 14px;
        font-weight: 600;
    }
}
